<template>
    <v-container grid-list-xl text-xs-center>
        <v-layout row wrap>
            <v-flex xm12> 
                <v-progress-linear v-if="busy" :indeterminate="true"></v-progress-linear>
                <v-text-field v-model="name" label="Events group name" />
                <v-btn color="info" v-on:click.native="createEvent">Create group</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import store from '../store.js'

export default {
    data: () => ({
        name: null,
        age_group: null,
        sex: null,
        busy: false
    }),
    methods: {
        async createGroup() {
            this.$data.busy = true
            await store.signup(this.$data.name, this.$data.age_group, this.$data.sex)
            this.$data.busy = false
        }
    }
}
</script>

<style>
</style>