<template>
    <v-layout align-space-around justify-space-around column >
            <v-progress-linear v-if="busy" :indeterminate="true"></v-progress-linear>       
            <v-layout column>
                <v-layout align-center justify-center v-if="!finished">
                    <h2 v-if="items.length" class="question">{{item_idx +1 }}. {{items[item_idx].name}}</h2>
                    <h2 v-else>Loading...</h2>
                </v-layout>
                <v-layout v-else align-center justify-center>
                    <h2>Thank you</h2>
                </v-layout>
            </v-layout>
            <picker v-if="!finished" @select="colorChoosen" @input="colorChanged"/>
            <v-spacer />
            <v-btn :disabled="busy" color="info" @click.native="next">Next</v-btn>
        </v-layout>
</template>

<script>
import store from '../store'
import Picker from './Picker.vue'

export default {
    components: { Picker },
    data() {
        return {
            items: [],
            item_idx: 0,
            finished: false,
            color: "red",
            busy: false
        };
    },
    methods: {
        async colorChoosen(color) {
            console.log("Colorate.vue::colorChoosen", color)
            if (this.$data.finished && this.$data.item_idx == this.$data.items.length) {
                store.state.user.id = null;
                this.$data.finished = true;
                this.$router.push('/signup?redirect=' + this.$route.path);
            } else {
                this.$data.busy = true
                await store.submitColor(this.$data.items[this.$data.item_idx].id, color)
                this.$data.item_idx += 1
                if (this.$data.item_idx == this.$data.items.length) {
                    this.$data.finished = true
                }
                this.$data.busy = false
            }
        },
        async colorChanged(color) {
            this.$data.color = color;
        },
        async update(groupId) {
            this.$data.busy = true
            const items = await store.getEvents(groupId)
            this.$data.items.splice(0, this.$data.items.length, ...items)
            this.$data.busy = false
        },
        async next() {
            this.colorChoosen(this.$data.color)
        }

    },
    async mounted() {
        await this.update(this.$route.params.id);
    },
    watch: {
        async '$route' (to) {
            await this.update(to.params.id);
        }
    }
};
</script>

<style>
.question {
    text-align: center;
}
</style>