<template>
    <v-layout align-space-between justify-space-between column class="colorate dialog">
        <v-spacer />
        <v-flex>
            <div class="top-icon">
            ✓
            </div>
            <div class="top-text">
            transaction completed sucessfully!
            </div>
        </v-flex>
        <v-spacer />
        <v-layout column justify-end align-end class="middle-text">
            Choose a color to rate your experience
        </v-layout>
        <picker @select="select" />
    </v-layout>
</template>

<script>
import store from '../store'
import Picker from './Picker.vue'

export default {
    name: 'colorate-dialog',
    components: { Picker },
    methods: {
        select(color) {
            this.$emit("select", color);
        }
    }
};
</script>

<style>
.colorate {
    height: 100vh;
    width: 100vw;
    background: rgba(90, 90, 90, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    color: white;
}

.colorate .top-icon {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.colorate .top-text {
    margin: 10%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.colorate .middle-text {
    margin: 10%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
</style>