<template>
    <v-content>
        <v-progress-linear v-if="busy" :indeterminate="true"></v-progress-linear>
        <h2>{{event.name}}</h2>
        <highcharts v-if="!busy" :options="data"></highcharts>
    </v-content>
</template>

<style>
</style>

<script>
import store from '../store';

export default {
    name: "event-chart",
    props: ['event'],
    data() {
        return {
            data: store.buildHistogram([]),
            busy: true   
        }
    },
    methods: {
        async update(groupId) {
            this.$data.busy = true
            await store.updateUsersCache();
            const colors = await store.getColors(groupId);
            const data = await store.buildHistogram(colors)
            this.$data.data = Object.assign(this.$data.data, data)
            this.$data.busy = false
        }
    },
    async mounted() {
        await this.update(this.$props.event.id)
    },
    watch: {
        async event(to, from) {
            await this.update(to.id)
        }
    }
}
</script>