<template>
    <v-flex>
        <v-progress-linear v-if="busy" :indeterminate="true"></v-progress-linear>            
        <v-list>
            <template v-for="item in items">
                <router-link :to="'/colorate/' + item.id">
                    <v-list-tile
                        :key="item.id"
                        avatar
                    >
                        <v-list-tile-content>
                            <v-list-tile-title v-html="item.name"></v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-divider></v-divider>
                </router-link>
            </template>
        </v-list>
    </v-flex>
</template>

<script>
import store from '../store.js'

export default {
    data() {
        return {
            items: [],
            busy: false
        }
    },
    async mounted() {
        this.$data.busy = true
        const items = await store.getEvents(this.$route.params.group)
        this.$data.items.splice(0, this.$data.items.length, ...items)
        this.$data.busy = false
    },
    watch: {
        async '$route' (to) {
            this.$data.busy = true
            const items = await store.getEvents(to.params.group)
            this.$data.items.splice(0, this.$data.items.length, ...items)
            this.$data.busy = false
        }
    }
}
</script>

<style>
</style>