<template>
    <div>
        <colorate-dialog v-if="colorate" @select="submitColor" />
        <v-container grid-list-xl text-xs-center>
            <v-layout row wrap>
                <v-flex xm12> 
                    <img src="../assets/card.jpg" />
                    <v-progress-linear v-if="busy" :indeterminate="true"></v-progress-linear>
                    <v-text-field v-model="name" label="Name" />
                    <v-text-field v-model="card_number" label="Card Number" />
                    <v-text-field v-model="cvv" label="CVC" />
                    
                    <v-menu
                        ref="menu"
                        :close-on-content-click="false"
                        v-model="menu"
                        :nudge-right="40"
                        :return-value.sync="expiration_date"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                    >
                        <v-text-field slot="activator" v-model="expiration_date" label="Expiration date" readonly />
                        <v-date-picker v-model="expiration_date" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                            <v-btn flat color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                        </v-date-picker>
                    </v-menu>

                    <v-checkbox label="save card" v-model="save_card" />
                    <v-btn color="info" v-on:click.native="pay">Pay {{amount}} $</v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
import store from '../store.js'
import ColorateDialog from './ColorateDialog.vue'

export default {
    components: {
        ColorateDialog
    },
    data: () => ({
        name: "John Doe",
        card_number: "3874 3478 3484 3904",
        cvv: 434,
        amount: 42.99,
        save_card: false,
        busy: false,
        expiration_date: "01/2020",
        colorate: false,
        menu: false
    }),
    methods: {
        pay() {
            this.$data.colorate = true;
        },
        async submitColor(color) {
            console.log("Pay.vue", color)
            await store.submitColor(this.$route.params.id, color)
            this.$data.colorate = false;
            if (this.$route.query.return) { 
                this.$router.push(this.$route.query.return)
            }
        }
    }
}
</script>

<style>
</style>