<template>
    <v-container>
        <v-layout align-center justify-center style="margin-top: 3em; margin-bottom: 1em;">
            <h2>Payments</h2>
        </v-layout>
        <v-layout shrink row wrap align-center justify-center> 
            <router-link to="/pay/1?return=/payments"><img src="/assets/pay1.png" /></router-link>
            <router-link to="/pay/2?return=/payments"><img src="/assets/pay2.png" /></router-link>
            <router-link to="/pay/3?return=/payments"><img src="/assets/pay3.png" /></router-link>
            <router-link to="/pay/4?return=/payments"><img src="/assets/pay4.png" /></router-link>
        </v-layout>
        <v-spacer />
    </v-container>
</template>
<script>
export default {
    name: 'payments'
}
</script>
<style>
</style>