<template>
        <v-layout row align-end justify-center>
            <!-- <color-picker id="picker" v-model="color" @select="select" @input='input'></color-picker> -->
            <vue-color-picker id="picker" v-model="color" @select="select" @input='input'></vue-color-picker>
        </v-layout>
</template>

<script>
// import ColorPicker from '@radial-color-picker/vue-color-picker';
import VueColorPicker from './third_party/vue-color-picker/src/ColorPicker.vue'

/*
function HSVtoRGB(h, s, v) {
    var r, g, b, i, f, p, q, t;
    if (arguments.length === 1) {
        s = h.s, v = h.v, h = h.h;
    }
    i = Math.floor(h * 6);
    f = h * 6 - i;
    p = v * (1 - s);
    q = v * (1 - f * s);
    t = v * (1 - (1 - f) * s);
    switch (i % 6) {
        case 0: r = v, g = t, b = p; break;
        case 1: r = q, g = v, b = p; break;
        case 2: r = p, g = v, b = t; break;
        case 3: r = p, g = q, b = v; break;
        case 4: r = t, g = p, b = v; break;
        case 5: r = v, g = p, b = q; break;
    }

    return Math.round(r * 255) << 16 | Math.round(g * 255) << 8 | Math.round(b * 255) << 0;
}
*/

function HSV2String(color) {
    const h = color.hue;
    if (h > 320 || h < 30) {
        return 'red'
    } else if (h < 50) {
        return 'orange'
    } else if (h < 70) {
        return 'yellow'
    } else if (h < 160) { 
        return 'green'
    } else if (h < 195) {
        return 'cyan'
    } else if (h < 260) {
        return 'blue'
    } else if (h < 290) {
        return 'magenta'
    } else if (h <= 320) {
        return 'pink'
    }
}

export default {
    name: 'picker',
    components: {VueColorPicker},
    methods: {
        select(newColor) {
            const color = HSV2String(newColor)
            console.log("Picker.vue::select", color)
            this.$emit("select", color)
        },
        input(newColor) {
            const color = HSV2String(newColor)
            console.log("Picker.vue::input", color)
            this.$emit("input", color)
        }
    },
    data() {
        return {
            color: {
                hue: 0,
                saturation: 100,
                luminosity: 50,
                alpha: 1
            }
        }
    }
}
</script>

<style>
#picker {
    position: relative;
    /* top: 100px; */
}
</style>