<template>
    <v-container grid-list-xl text-xs-center>
        <v-layout row wrap>
            <v-flex xm12> 
                <v-progress-linear v-if="busy" :indeterminate="true"></v-progress-linear>
                <h1>Sign up</h1>
                <!-- <v-text-field v-model="name" label="Name" /> -->
                <v-radio-group v-model="sex" :mandatory="true">
                    <v-radio label="Male" value="male"></v-radio>
                    <v-radio label="Female" value="female"></v-radio>
                    <v-radio label="I don't want to answer" value="unknown"></v-radio>
                </v-radio-group>
                <v-radio-group v-model="age_group" :mandatory="true">
                    <v-radio label="0..18" value="1"></v-radio>
                    <v-radio label="18..25" value="2"></v-radio>
                    <v-radio label="26..33" value="3"></v-radio>
                    <v-radio label="33+" value="4"></v-radio>
                    <v-radio label="I don't want to answer" value="0"></v-radio>
                </v-radio-group>
                <v-btn color="info" v-on:click.native="signup">Next</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import store from '../store.js'

export default {
    data: () => ({
        name: null,
        age_group: null,
        sex: null,
        busy: false
    }),
    methods: {
        async signup() {
            this.$data.busy = true
            await store.signup(this.$data.name, this.$data.age_group, this.$data.sex)
            this.$data.busy = false
            this.$router.push(this.$route.query.redirect)
        }
    }
}
</script>

<style>
</style>