<template>
    <v-container>
        <v-layout column>
            <h1>Data Сharts</h1>
            <v-progress-linear v-if="busy" :indeterminate="true"></v-progress-linear>
            <div v-for="(event, idx) in events" :key="event.id">
                <event-chart :event="event"></event-chart>
            </div>
        </v-layout>
    </v-container>
</template>

<style>
</style>

<script>
import EventChart from './EventChart.vue';
import store from '../store';

export default {
  components: {
      EventChart
  },
  data() {
    return {
      events: [],
      busy: false
    };
  },
  methods: {
    async update(groupId) {
      this.$data.busy = true;
      const items = await store.getEvents(groupId);
      this.$data.events.splice(0, this.$data.events.length, ...items);
      this.$data.busy = false;
      console.log("Statistics.vue::update", groupId, items)
    }
  },
  async mounted() {
    await this.update(this.$route.params.id);
  },
  watch: {
    async '$route'(to) {      
        return await this.update(to.params.id);
    }
  }
};
</script>