<template>
  <v-app id="app">
    <router-view></router-view>  
  </v-app>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
  .application {
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
</style>
